.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.dart_version
build/
.idea/
.vscode/
*.iml
*.lock
pubspec.lock
*.env
*.env.local
*.log
.DS_Store
android/app/build/
ios/Pods/